modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Main Hub"

[[workflows.workflow]]
name = "Main Hub"
author = 37925715
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Run Development Server"
author = 37925715
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Development Server"
author = 37925715
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node dist/index.js --dev"

[[workflows.workflow]]
name = "Test Puppeteer"
author = 37925715
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run puppeteer"

[[workflows.workflow]]
name = "Check Server Status"
author = 37925715
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
